@font-face {
    font-family: 'Lilita One';
    src: url('fonts/LilitaOne-Regular.ttf');
}
body {
    font-family: 'Lilita One', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('img/Desert.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-size: 25px;
    color:#f5a623;
}

#game-container {
    position: relative;
    width: 720px;
    height: 480px;
}

canvas {
    background-color: black;
}

#start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#start-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#start-button {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 40px;
    font-size: 24px;
    background-color: #f5a623;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#start-button:hover {
    background-color: #e09000;
}
#game-container {
    position: relative;
    width: 720px;
    height: 480px;
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
   
}